<%- include('partials/header') %>

    <h1 style="padding-bottom: 2%;color: aliceblue;">&lt / CodeShare&gt</h1>

    <br>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/register" method="POST">
                <h1>Create Account</h1>
                <input type="text" name="name" placeholder="Name" />
                <input type="email" name="username" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />
                <button href="/register">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="POST">
                <h1>Sign in</h1>
                <input type="email" name="username" placeholder="Email" />
                <input type="password" name="password" placeholder="Password" />

                <button href="/login">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>

                    <a href="/sessions/join">
                        <button class="ghost" href="/sessions/join">Join Session</button>
                    </a>


                </div>
            </div>
        </div>
    </div>


    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </script>
    <%- include('partials/footer') %>